/* * {
  border: 1px solid red;
} */

body {
  text-align: center;
  color: #F1FAEE;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  font-size: calc(1vw + 1vh);
  background-image: url("/res/mike-hindle-dbCUv9Lu7Hs-unsplash.jpg");
}

/*
    Begin of Header
    Headers|: This controls the title bar of the webpage.
*/
.header {
  position: fixed;
  width: 100%;
  margin: -1em 0em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
  background: transparent;
}

.header div {
  position: relative;
  top: -75%;
  padding: 0.5em 0em;
  border: 1px solid black;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 10vh;
  background-color: #3A3A3A;
  font-size: calc(0.7vw + 0.7vh);
  background: linear-gradient(86deg, rgba(0, 0, 0,1) 0%, rgb(63, 61, 61) 6%, rgba(255, 255, 255,1) 100%);
	background-size: 400% 400%;
	animation: header-hover 5s ease infinite alternate,
             slide-out 0.5s ease 1;
}

.header div span {
  position: absolute;
  bottom: 25%;
  left: 25%;
  right: 25%;
}

.header div:hover {
  top: 0;
  animation: slide-in 0.5s ease 1, color-change 0.5s forwards ease 1;
}



/*
  End of Header
*/


/*
  Begin of Profile card
*/
.profile-card {
  margin: 1em 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
  background-color: #202020;
  color: #F1FAEE;
  box-shadow: 10px 10px 10px #121212;
  animation: fade-in 1s linear 1;
}


.contact {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(15px, 1fr));
  /* box-shadow: 5px 5px 5px #F1FAEE; */
}

.contact div {
  padding: 0em 1em;
  font-size: medium;
  border-radius: 15%;
}

.contact div p span {
  padding: 2em;
  font-size: xx-large;
}

.contact div p span{
  background-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0 1px #ffd700,
               0 0 5px #daa520,
               0 0 7px #b8860b,
               0 0 10px #f5deb3;
}

.contact div {
  margin: 1em 0;
  text-align: start;
}

.education-card {
  margin: 1em 1em;
  background-color: #202020;
  box-shadow: 10px 10px 10px #121212;
  padding: 1em 0em;
}

.education-card > div:first-child {
  text-align: start;
  margin-left: 1em;
  font-weight: bolder;
}

.education-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
  margin: 1em 0;
  
}

.education-details > div {
  background-color: #2020207c;  
  padding: 2em 0;
  /* border-left: 1px solid white; */
  box-shadow: 5px 5px 5px #000000;
}

.education-details span {
  font-weight: bold;
}


.project-card {
  margin: 1em 1em;
  padding: 1em;
  background-color: #202020;
  box-shadow: 10px 10px 10px #121212;
}

.project-card > div:first-child {
  text-align: start;
  margin-left: 1em;
  
  font-weight: bolder;
}

.project-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
  margin: 2em 0;
  min-height: 5em;
  font-weight: bold;
  
  background-color: #2020207c;
  box-shadow: 10px 10px 10px #121212;
}

.exp-card {
  margin: 1em 1em;
  padding: 1em;
  background-color: #202020;
  box-shadow: 10px 10px 10px #121212;
}

.exp-card > div:first-child {
  text-align: start;
  margin-left: 1em;
  
  font-weight: bolder;
}

.exp-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
  margin: 2em 0;
  background-color: #202020;
  box-shadow: 10px 10px 10px #121212;
}

.skill-card {
  margin: 1em 1em;
  padding: 1em;
  background-color: #202020;
  box-shadow: 10px 10px 10px #121212;
}

.skill-card > div:first-child {
  text-align: start;
  margin-left: 1em;
  
  font-weight: bolder;
}

.skill-card ul {
  display: grid;
  grid-template-columns: 50% 50%;
}

.skill-card ul li {
  margin: 1em;
  padding: 1em 1em;
  text-align: start;
  background-color: #2020207c;
  box-shadow: 5px 5px 5px #000000;
}



.lang-card {
  margin: 1em 1em;
  padding: 1em;
  background-color: #202020;
  box-shadow: 10px 1px 10px #121212;
}

.lang-card > div:first-child {
  text-align: start;
  margin-left: 1em;
  
  font-weight: bolder;
}

.lang-card ul {
  display: grid;
  grid-template-columns: 50% 50%;
}

.lang-card ul li {
  margin: 1em;
  padding: 1em 1em;
  text-align: start;
  background-color: #2020207c;
  box-shadow: 5px 5px 5px #000000;
}



@keyframes header-hover {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 100%;}
}

@keyframes slide-in {
  from { top : -75%; }
  to { top: 0; }
}

@keyframes slide-out {
  from { top: 0; }
  to { top: -75%; }
}

@keyframes color-change {
  from { background: #F1FAEE; }
  to { background: #202020; }
}