/* * {
  border: 1px solid red;
} */

body {
  text-align: center;
  color: #F1FAEE;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: #F1FAEE;
}


.profile-card {
  margin: 1em 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
  background-color: #1D3557;
  box-shadow: 10px 10px 10px #121212;
}

.contact {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(15px, 1fr));
}

.contact > div:first-child {
  font-weight: bolder;
  font-size: 2.5em;
}

.contact div {
  margin: 1em 0;
  text-align: start;
}

.education-card {
  margin: 1em 1em;
  background-color: #457B9D;
  box-shadow: 10px 10px 10px #121212;
  padding: 1em 0em;
}

.education-card > div:first-child {
  text-align: start;
  margin-left: 1em;
  font-size: larger;
  font-weight: bolder;
}

.education-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
  margin: 2em 0;
}

.education-details span {
  font-weight: bold;
}


.project-card {
  margin: 1em 1em;
  padding: 1em;
  background-color: #E63946;
  box-shadow: 10px 10px 10px #121212;
}

.project-card > div:first-child {
  text-align: start;
  margin-left: 1em;
  font-size: larger;
  font-weight: bolder;
}

.project-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
  margin: 2em 0;
}

.exp-card {
  margin: 1em 1em;
  padding: 1em;
  background-color: #E63946;
  box-shadow: 10px 10px 10px #121212;
}

.exp-card > div:first-child {
  text-align: start;
  margin-left: 1em;
  font-size: larger;
  font-weight: bolder;
}

.exp-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
  margin: 2em 0;
}

.skill-card {
  margin: 1em 1em;
  padding: 1em;
  background-color: #E63946;
  box-shadow: 10px 10px 10px #121212;
}

.skill-card > div:first-child {
  text-align: start;
  margin-left: 1em;
  font-size: larger;
  font-weight: bolder;
}

.skill-card ul {
  display: grid;
  grid-template-columns: 50% 50%;
}

.skill-card ul li {
  margin: 0;
  padding: 1em 0;
  text-align: start;
}

.lang-card {
  margin: 1em 1em;
  padding: 1em;
  background-color: #E63946;
  box-shadow: 10px 1px 10px #121212;
}

.lang-card > div:first-child {
  text-align: start;
  margin-left: 1em;
  font-size: larger;
  font-weight: bolder;
}

.lang-card ul {
  display: grid;
  grid-template-columns: 50% 50%;
}

.lang-card ul li {
  margin: 0;
  padding: 1em 0;
  text-align: start;
}