body {
  text-align: center;
  color: #FFFFFF;
  maring: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: #080C24FF;
}


.profile-card {
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: #151e34ff;
  box-shadow: 10px 10px 10px #121212;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact div {
  margin: 1em 0;
  background-color: inherit;
}
